{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ file.name }}</h1>

    <div class="row">
        <div class="col-md-6">
            <table>
                <thead>
                    <tr>
                        <td>chapter</td>
                    </tr>
                </thead>
                <tbody>
                    {% for chapter in file.children %}
                        <tr>
                            <td>
                                {{ chapter.name }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table>
                <thead>
                    <tr>
                        <td>chapter</td>
                    </tr>
                </thead>
                <tbody>
                    {% for chapter in file.children %}
                        <tr>
                            <td>
                                {{ chapter.name }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
